body{font-family:Arial,Helvetica,sans-serif; font-size:14px; background-color:#99ccff;background-image: url('../Blend/SoftBlend2.png'); background-repeat: repeat-x; height: 2345px;}
#Container{ width:781px; margin: 0 auto; height:1876px}
#Header{background-color:#99ccff;font-family:Arial,Helvetica,sans-serif; font-size:1em; text-align:center; width:780px; height:117px; padding-top:10px}
#SubHeader{background-color:#99ccff;float:left; font-size:1em; text-align:center; width:780px; height:13px; padding-top:6px}
#SubHeader2{background-color:#99ccff;padding-top:6px; padding-bottom:20px; float:left; font-size:small; text-align:center; width:780px; height:8px}
#SubSLeft{background-color:#99ccff;float:left; text-align:left; width:300px; padding-left: 20px; height:50px;padding-top:10px}
#SubSMiddle{background-color:#99ccff;float:left; text-align:left; width:460px; height:50px;padding-top:10px}
#SubSRight{background-color:#99ccff;float:left; text-align:left; width:206px; height:50px}
#Left{background-color:#99ccff;padding-left: 20px;float:left; width:290px; font-size:1em; padding-top:10px; text-align:left; height:316px}
#Middle{background-color:#99ccff;float:left; width:253px; padding-top:10px; text-align:left; height:316px}
#Right{background-color:#99ccff;float:left; width:217px; padding-top:10px; text-align:left; height:316px}
#Tools{background-color: #99ccff;padding-top: 4px;float: left;width: 780px;height: 22px;border-bottom-style: groove;border-bottom-width: medium;border-bottom-color: #0066FF;}
#Buttons{background-color: #99ccff;padding-top: 10px;float: left;width: 780px;height: 30px;border-top-style: solid;border-top-color: #00F;border-bottom-style: solid;border-bottom-color: #00F;}
#CLabelLeft{background-color: #99ccff;padding-left:20px;float: left;width: 160px;height: 300px;color: #00F;}
#CCLeft{background-color:#99ccff;float:left; width:82px; height:300px}
#CLabelMiddle{background-color:#99ccff;float:left; width:160px; height:300px; color:#00F}
#CCMiddle{background-color:#99ccff;float:left; width:76px; height:300px}
#CLabelRight{background-color: #99ccff;padding-top: 10px;float: left;width: 200px;height: 260px;color: #00F;text-align: left;}
#CCRight{background-color:#99ccff;padding-top:9px; float:left; width:82px; text-align:left; height:311px}
#ContactLeft{background-color:#99ccff;padding-top:10px;padding-left: 20px; float:left; width:356px; height:550px; border-top-style:solid; border-top-color:#00F}
#ContactRight{text-align: left;background-color:#99ccff;padding-top:10px;padding-left: 30px; float:left; width:374px; height:631px;border-top-style:solid; border-top-color:#00F}
Footer{background-color:#99ccff;padding-top:6px; float:left; width:780px; text-align:center}
.ArPr{text-align: right; padding-right: 1px;font-weight: bold;}
.Inc{text-align: right; height: 18px;}
.AlPr{text-align: left; padding-left: 1px;font-weight: bold;}
.Alc{text-align: center; font-weight: bold;}
.Cc130{width: 130px;height: 18px;text-align: right;padding-right: 1px;}
.Cc50{width: 50px;height: 18px;text-align: right;padding-right: 1px; background-color:white}
.Cc50B{width: 50px;height: 18px;text-align: right;padding-right: 1px;background-color:#99ccff}
